body{
    font-family: Open Sans !important;
    color: #222222;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: center;
}

img {
    margin: 32px;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 !important;
    background-color: #eeeeee; /*greyish-white*/
}

/*-------------- Cover/Welcome page --------------*/

#cover {
    width: 100%;
    height: 100vh;
    background-image: url('http://hacknu2018.herokuapp.com/imgs/Header-Recovered.jpg');
    background-position: center top;
    background-size: cover;

    padding: 0 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cover .Main_header{
	font-family: Montserrat;	
    font-style: italic;
    text-align: center;
    font-size: 10vw;
    color: white;
    margin-bottom: 20px;
}

#cover .reg{
    font-family: Open Sans;
    font-size: 40px;
    padding: 16px 24px;
    margin: auto;
    background-color: #28A3E0; /*light-blue*/
    color: #F5FBFC; /*bluish-white*/
    width: fit-content;

    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;

    border: none;
    border-radius: 5px;
}

/*-------------- Tab/Header ----------------*/

#header {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 56px;
    padding: 0 !important;
    background: #222222; /*black*/
}

#header .main_header {
    font-family: Montserrat;    
    font-style: italic;
    color: #eee;

    display: inline;
    background: none;
    font-size: 40px;
    margin-left: 10%;
}

#header .reg {
    display: inline;
    float: right;
    font-family: Open Sans;
    margin: 6px;
    padding: 8px 16px;
    font-size: 20px;
    margin-right: 10%;

    background-color: #28A3E0; /*light-blue*/
    color: #F5FBFC; /*bluish-white*/
    width: fit-content;
    text-decoration: none;
    border: none;
    border-radius: 2px;
}

#content {
    width: 80%;
    background: white;
    padding: 40px;
    font-size: 20px;
}

#content h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    font-style: none;
    text-align: center;

    padding: 16px;
    line-height: 64px;
}

/*-------------- Info ---------------*/


/*-------------- Воркшопы ------------------*/
/*--------------- Расписание ----------------*/

table{
	table-layout: fixed;
	width: 800px;
	text-align: center;
	border: 1px solid #ABACAC; /*grey*/
	border-collapse: collapse;
    border-spacing: 0;
}
td{
	font-family: 'Open Sans', sans-serif;
	text-align : left;
	text-align-last: right;
	border: 1px solid #ABACAC; /*grey*/
}
th{
	text-align: center;
	background-color: #28A3E0; /*light-blue*/
	color: #F5FBFC; /*bluish-white*/
}


/*------------------- Задачи ------------------*/

#tasks_header {
	background-color: #28A3E0; /*light-blue*/
	color: #F5FBFC; /*bluish-white*/
	padding: 10px;
	margin-top: 30px;
}

h2 {
    color: #F5FBFC; /*bluish-white*/
    background-color: #2D3236; /*dark-grey*/
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

/*----------------- Sponsors/Footer --------------------*/

#contacts{
	table-layout: none;
	text-align: left;
	border: 0px;
}

